#people {
	padding: rem(40) rem(40);
	.people_types {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: rem(24);
		h5 {
			cursor: pointer;
			margin: 0 rem(4);
			padding: 0 rem(8);
			text-transform: uppercase;
			&.active {
				border-bottom: 2px solid #000000;
				font-weight: bold;
			}
		}
	}
	.card_people {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		&__card {
			cursor: pointer;
			height: rem(400);
			width: 100%;
			position: relative;
			overflow: hidden;
			&:hover {
				.overlay_desc {
					height: 100%;
					visibility: visible;
				}
			}
			@media (min-width: 768px) {
				width: 50%;
			}
			@media (min-width: 1200px) {
				width: 25%;
			}
			img {
				height: 100%;
				width: 100%;
			}
			.overlay_desc {
				background: #000;
				height: 0;
				width: 100%;
				position: absolute;
				bottom: 0;
				left: 0;
				opacity: 0.75;
				visibility: hidden;
				transition: 0.2s ease 0s;
				padding: rem(16);
				&__icon {
					position: absolute;
					right: 16px;
					.icon-arrow-long-up {
						background: #b4d3d3;
						border-radius: 50%;
						padding: 8px;
						&::before {
							transform: rotate(45deg);
							display: -webkit-inline-box;
						}
					}
				}
				&__text {
					position: absolute;
					bottom: 16px;
					left: 50%;
					transform: translateX(-50%);
					text-align: center;
					h5 {
						color: #ffffff;
						margin-bottom: rem(8);
					}
					h6 {
						color: #ffffff;
					}
				}
			}
		}
	}
	.btn-more {
		background-color: #b4d3d3;
		color: #ffffff;
		display: block;
		font-weight: bold;
		margin: rem(40) auto 0;
		padding: rem(16) rem(24);
		width: rem(200);
		text-transform: uppercase;
		&:hover {
			transition: 0.3s;
			opacity: 0.75;
		}
		@media (max-width: 767px) {
			width: 100%;
		}
	}
}
